<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">нүүр</a></li>
                <li><a href="/post">пост</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form action="/post" method="POST">
            <h1>зар оруулах</h1>
            <div class="detal">
                <input type="text" name="avatar" id="avatar" placeholder="зураг оруулна уу">
            </div>
            <div class="detal">
                <input type="text" name="title" id="titel" placeholder="гарчигаа оруулна уу">
            </div>
            <div class="detal">
                <input type="text" name="description" id="description" placeholder="тайлбар оруулна уу">
            </div>
            <div class="detal">
                <input type="number" name="price" id="price" placeholder="үнэ оруулна уу">
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>